.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container {
  display: flex;
  width: 70%;
  max-width: 90%;
  flex-wrap: wrap;
}

h1 {
  background-image: url("/public/assets/images/img1.jpeg");
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  text-align: center;
}

main {
  width: 375px;
  display: flex;
  align-items: center;
  margin: 20px auto;
  height: 600px;
  border: 1px solid #ddd;
  justify-content: center;
  position: relative;
  border-radius: 10px;
}

img.background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
}
